.skill {
  margin-bottom: 1rem;
}

.skill p {
  margin-bottom: 0.5rem;
}

.progress-bar {
  position: relative;
}

.progress-bar .percentage {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
}

main {
  flex: 1;
}

.btn-primary {
  width: 100%;
}
.waph-functionalities {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

canvas {
  display: block;
}

.nav-link {
  color: gray;
}

.nav-link.active {
  color: white;
}